@model IEnumerable<MeetingsWebAPI.Models.Meet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Coffee.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Coffee.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMeet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeetId })
        </td>
    </tr>
}

</table>
